[Unit]
Description=Discord Music Bot with WebSocket Control
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/masscom4/domains/musicbot.masscomputing.co.za/private
ExecStart=/usr/bin/python3 /home/masscom4/domains/musicbot.masscomputing.co.za/private/bot.py
Environment=HTTP_AUTH_USER=
Environment=SPOTDL_SPOTIFY_CLIENT_ID=
Environment=SPOTDL_SPOTIFY_CLIENT_SECRET=
Environment=HTTP_AUTH_PASS=
DISCORD_TOKEN=
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
